
<!-- ==== SERVICES ==== -->
<div class="container" id="about">
	<br>
	<br>
	<div class="row">
		<h2 class="centered">ABOUT</h2>
		<hr>
		<br>
		<div class="col-lg-offset-2 col-lg-8">
			<p>Digital Identity Ltd is a new Manchester-based company that supplies federated identity services to higher education. We are a small group of current and past employees of UK universities, motivated to make interesting and useful things for the UK academic community. Most of our work is based around applying the many benefits of Shibboleth and other SAML identity software to social web applications.</p>
		</div><!-- col-lg -->
	</div><!-- row -->

</div><!-- container -->

