<div id="brandwrap">
  
	<div class="row">
	
  	<div class="col-lg-4 callout">
      <div class="brand_logo">
        <a href="https://indiid.net">
          <img  src="images/indiid_logo-medium.png" alt="Indiid.net" title="Indiid">
        </a>
      </div>
			<h2>Indiid.net</h2>
			<p>The Independent Identity Provider (closed beta)</p>
		</div><!-- col -->
			
		<div class="col-lg-4 callout">
      <div class="brand_logo">
        <a href="http://digitalidentitylabs.com">
          <img class="brand_logo" src="images/dil_logo.png" alt="Digital Identity Labs" title="Digital Identity Labs">
        </a>
      </div>
			<h2>Digital Identity Labs</h2>
			<p>Web services with federated authentication for Higher Education</p>
		</div><!-- col -->	
		
		<div class="col-lg-4 callout">
      <div class="brand_logo">
        <a href="#">
          <img class="brand_logo" src="images/di_consulting.png" alt="Indiid" title="Indiid">
        </a>
      </div>
			<h2>Consultancy</h2>
			<p>Advice, design and deployment of identity services</p>
		</div><!-- col -->	

	</div><!-- row -->

</div>