<footer id="footerwrap">

	<div class="container">

    <div class="row">
      <div class="col-md-4">
        <div class="text-left">
          <p><i class="icon icon-home"></i>Digital Identity Ltd<br/>

            <i class="icon icon-phone"></i><a href="tel:+44-161-884-0254">+44 (0)161 884 0254</a><br/>
          	<i class="icon icon-envelop"></i> <a href="#"> info@digitalidentitylabs.com</a> <br/>
          	<i class="icon icon-twitter"></i> <a href="#"> @digitalidlabs </a> <br/>
          </p>
        </div>
      </div>
      <div class="col-md-4">
        
        
      </div>
      <div class="col-md-4">
        <p id="copyright_line" class="text-right">&copy; Digital Identity Ltd, 2014</p>
     
             <ul class="list-unstyled text-right">
               <li>Digital Identity Ltd.</li>
               <li>Registered in England and Wales No. 7121888</li>
             </ul>
        
      </div>
    </div>

	</div>



</footer>

