
<!-- ==== SERVICES ==== -->
<div class="container" id="services">
	<br>
	<br>
	<div class="row">
		<h2 class="centered">Consultancy &amp; Bespoke Software</h2>
		<hr>
		<br>
		<div class="col-lg-offset-2 col-lg-8">
			{% include features/consultancy.html %}
		</div><!-- col-lg -->
	</div><!-- row -->
	
	<div class="row">
		<h2 class="centered">Community &amp; Collaboration</h2>
		<hr>
		<br>
		<div class="col-lg-offset-2 col-lg-8">
			 {% include features/collaboration.html %}
		</div><!-- col-lg -->
	</div><!-- row -->
  
	<div class="row">
		<h2 class="centered">Apps &amp; Subscription Services</h2>
		<hr>
		<br>
		<div class="col-lg-offset-2 col-lg-8">
			{% include features/apps.html %}
		</div><!-- col -->
	</div><!-- row -->
</div><!-- container -->

