<p>Most of our websites will show an "Ask Us" link on the right hand side.
  Click this to send us support requests, suggestions or just general 
  enquiries.</p>

<p>This allows us to answer your queries efficiently and and provide
   friendly and helpful online support to you and your users.</p>

<div class="pointy">
  <p>It's over here!  &rarr;</p>
</div>

<a href="https://digitalidentity.zendesk.com/home">
  <img alt="Help Desk Software by Zendesk" src="/images/zendesk_pb_logo.png" title="Help Desk Software by Zendesk" />
</a>

<script type="text/javascript" src="//asset0.zendesk.com/external/zenbox/v2.1/zenbox.js"></script>

<script type="text/javascript">
  if (typeof(Zenbox) !== "undefined") {
    Zenbox.init({
      dropboxID:   "20023386",
      url:         "https://digitalidentity.zendesk.com",
      tabID:       "ask_us",
      tabColor:    "green",
      tabPosition: "Right"
    });
  }
  
</script>