
<div id="indiid_info" class="summary_block">
  <div class="project_logo">
    <a href="https://indiid.net/info">
      <img class="center-block" src="images/indiid_logo-medium.png" alt="Indiid" title="Indiid">
    </a>
  </div>
  <p><a href="https://indiid.net/info">Indiid</a> is an identity provider: we provide accounts that you can use to log in to other services on the Internet. We help you to log in securely and conveniently and to only share the information you want to share.</p>

  <p>We're not owned by a bank or shop. We're not an Internet giant. We're not a university or government service. We're not tied to the needs of advertisers, shareholders or investors.</p>

  <p>We believe that your online identity should be independent too - not locked in to your email provider, social media account or employer.</p>

    <ul>
    <li>We make it easy for you to protect your privacy</li>
    <li>We won't sell your data</li>
    <li>We won't show adverts</li>
    <li>We won't track you</li>
  </ul>

</div>
