<div id="labs_info" class="summary_block">
  <div class="project_logo">
    <a href="http://digitalidentitylabs.com">
      <img class="center-block" src="images/dil_logo.png" alt="Digital Identity Labs" title="Digital Identity Labs">
    </a>  
  </div>
  <p>Digital Identity Labs will present a series of small, experimental web applications. We're focusing on software that will be of use to Higher Education organisations - both staff and students, and with an emphasis on research tools.</p>
  
  <p>Apps in the Labs will be alpha or beta quality, without support, and without
  any uptime guarantees. They'll be free to use but unsupported. We'll try to gradually shape each project to
  its users' requirements by encouraging people to experiment and tell us
  how things can be improved.</p>

  <p>Popular apps from the labs will be re-launched as fully supported subscription services. Other options
  for Labs projects include open sourcing or repackaging as licensed
  applications that run on local networks.</p> 
  
   <p>We're busy putting things together at the moment. Our first Labs apps are expected to appear after we launch the open beta of Indiid.</p>
  
</div>