

<p>Our aim is to offer a variety of small, easy to use, single-purpose web applications. These will include tools for administrative and teaching staff, collaboration services, and research and study utilities. Where possible we'll allow them to play well together, and work alongside your existing services.</p>

<p>Subscription charges will be low, monthly and easy to administer. Most apps will offer basic functionality for free, with additional end-user and institutional preferences available by subscription.</p>

<p>Services will be hosted in Europe with an emphasis on privacy and data security. We'll not lock you into our software; you can export your organisation's data in an open format at any time. </p>
