

<p>We encourage you to change our open source software - fork the project on Github, make your changes, and maybe ask us to absorb them back into the official project.</p>

<p>We're even willing to do this with our closed projects such as our subscription services. We can supply Higher Education organisations with the source code for building their own customised versions of our services, for running on their own networks or hosting from Digital Identity Ltd. </p>

<p>Most of our internally developed software tools, frameworks and libraries will be open sourced under the permissive MIT license. We're big fans of open source software; we all rely on the open-sourced work of others. Our open source projects are hosted at the excellent Github.com.</p>

<p>We don't strictly divide our business into propriety/commercial and open source/free projects. We offer paid support for our open source projects, and we'll even consider open-sourcing our commercially licensed products and subscription services if an appropriate bounty is paid to cover development costs. If a service doesn't show promise as a subscription service then we'll open the code.</p>

<p><a class="btn btn-default" href="https://github.com/Digital-Identity-Labs" role="button">View details &raquo;</a></p>