
<section class="container">
    <div class="row align-items-center py-5">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-sm-6 mb-4">
                    <div class="media">
                                    <span class="icon icon-primary mr-3">
                                        <i class="icon-inner fas fa-comment" aria-hidden="true"></i>
                                    </span>
                        <div class="media-body">
                            <h3 class="h5 mb-2">General & Business Enquiries</h3>
                            <p>Please get in touch if you have any questions about our software and services</p>
                            <p><a href="mailto:info@digitalidentitylabs.com">info@digitalidentitylabs.com</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 mb-4">
                    <div class="media">
                                    <span class="icon icon-primary mr-3">
                                        <i class="icon-inner fas fa-question-circle" aria-hidden="true"></i>
                                    </span>
                        <div class="media-body">
                            <h3 class="h5 mb-2">Technical Support</h3>
                            <p>We use Zendesk to handle support queries, but it's easiest to send an email using this address - </p>
                            <p><a href="mailto:support@digitalidentitylabs.com">support@digitalidentitylabs.com</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 mb-4">
                    <!--
                    <div class="media">
                                    <span class="icon icon-primary mr-3">
                                        <i class="icon-inner fab fa-twitter" aria-hidden="true"></i>
                                    </span>
                        <div class="media-body">
                            <h3 class="h5 mb-2">Twitter</h3>
                            <p>Our Twitter account is used to announce software updates (it's pretty quiet, with no cats)</p>
                            <p><a href="https://twitter.com/digitalidlabs/">
                                @digitalidlabs
                            </a></p>
                        </div>
                    </div> -->
                </div>
                <div class="col-sm-6 mb-4">
                    <div class="media">
                                    <span class="icon icon-primary mr-3">
                                        <i class="icon-inner fab fa-github"></i>
                                    </span>
                        <div class="media-body">
                            <h3 class="h5 mb-2">GitHub</h3>
                            <p>Our OSS projects and open documents are available on GitHub</p>
                            <p><a href="https://github.com/Digital-Identity-Labs">GitHub - Digital Identity Labs</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 mb-4">
                    <div class="media">
                                    <span class="icon icon-primary mr-3">
                                        <i class="icon-inner fab fa-docker"></i>
                                    </span>
                        <div class="media-body">
                            <h3 class="h5 mb-2">Docker Hub</h3>
                            <p>We're big fans of using containers. Some of them are available for free on Docker Hub.</p>
                            <p><a href="https://cloud.docker.com/u/digitalidentity/">Docker Hub - Digital Identity Labs</a></p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>