<section class="container mb-4" id="about_overview">

    <div class="row justify-content-lg-between align-items-lg-center py-4 py-lg-5">
        <div class="col-lg-6 mb-4 mb-lg-0">
            <img src="/images/wheat_tiny.jpg" class="img-fluid img-thumbnail" alt="Wheat image">
        </div>
        <div class="col-lg-5">
            <h2 class="h3">Who we are</h2>
            <p class="mb-4 lead">Digital Identity Ltd is a Manchester, UK company that supplies federated identity services to higher education, small businesses and charities.
                Digital Identity is currently <a href="https://binary-ape.org/">Pete Birkinshaw</a> with his freelance IT consultant hat on.</p>
            <p class="mb-4">Most of my work is based around applying the many benefits of Shibboleth and other SAML software, LDAP, CAS and MFA.</p>

            <a class="link-cta" href="/blog/">News</a>
        </div>
    </div>

</section>
