<section class="container mb-4 bg-skew bg-skew-light" id="about_mimoto">

    <div class="row justify-content-lg-between align-items-lg-center py-4 py-lg-5">
        <div class="col-lg-6 mb-4 mb-lg-0">
            <img src="/images/indiid_logo-large.png" class="img-fluid img-thumbnail" alt="Wheat image">
        </div>
        <div class="col-lg-5">
            <h2 class="h3">Services</h2>
            <p class="mb-4 ">Digital Identity Ltd is a Manchester, UK company that supplies federated identity services to higher education, small businesses and charities. We are a small group of current and past employees of UK universities, motivated to make interesting and useful software.</p>
            <p class="mb-4">Most of our work is based around applying the many benefits of Shibboleth and other SAML software, LDAP, CAS and MFA.</p>

            <a class="link-cta" href="/blog.html">News</a>
        </div>
    </div>

    <div class="row justify-content-lg-between align-items-lg-center py-4 py-lg-5">
        <div class="col-lg-6 order-lg-2 mb-4 mb-lg-0">
            <img src="/images/dil_logo.png" class="img-fluid img-thumbnail" alt="Theme screenshot">
        </div>
        <div class="col-lg-5 order-lg-1">
            <h2 class="h3">Open Source</h2>
            <p class="mb-4">We've provided consultancy services and bespoke software development related to identity management, identity assurance, authentication and authorisation services for over ten years.</p>
            <p class="mb-4">In order to provide better support coverage and expand our range of services, in 2017 Digital Identity joined with
                <a href="https://www.serotine.org/">Serotine Ltd</a> to create a new consultancy-focused company,
                <a href="https://mimoto.co.uk/">Mimoto</a>.
                Mimoto also provides commercial support for Digital Identity's SaaS products and open source projects.</p>
            <a class="link-cta" href="https://mimoto.co.uk/">Mimoto</a>
        </div>
    </div>

</section>