<section class="container mb-4 bg-skew bg-skew-light" id="about_mimoto">

    <div class="row justify-content-lg-between align-items-lg-center py-4 py-lg-5">
        <div class="col-lg-6 mb-4 mb-lg-0">
            <a href="https://indiid.net">
                <img src="/images/indiid_logo-large.png" class="img-fluid img-thumbnail" alt="Wheat image">
            </a>
        </div>
        <div class="col-lg-5">
            <h2 class="h3">Services</h2>
            <p class="mb-4 ">Indiid is an identity provider: it provides accounts that you can use to log in to other
                services on the Internet. We help you to log in securely and conveniently and to only share the
                information you want to share. Indiid is currently focused on academic research users.
            </p>

            <a class="link-cta" href="https://indiid.net">Indiid</a>
        </div>
    </div>

    <div class="row justify-content-lg-between align-items-lg-center py-4 py-lg-5">
        <div class="col-lg-6 order-lg-2 mb-4 mb-lg-0">
            <a href="https://github.com/Digital-Identity-Labs">
                <img src="/images/dil_logo.png" class="img-fluid img-thumbnail" alt="Theme screenshot">
            </a>
        </div>
        <div class="col-lg-5 order-lg-1">
            <h2 class="h3">Digital Identity Labs OSS</h2>

            <p class="mb-4">Many of our internally developed software tools, frameworks and libraries will be open
                sourced under the permissive MIT license. We're big fans of open source software; we all rely on the
                open-sourced work of others. </p>

            <a class="link-cta" href="https://github.com/Digital-Identity-Labs">Digital Identity Labs</a>

        </div>
    </div>

</section>

