
<div class="container" id="contact" >
	<div class="row">
	<br>
		<h1 class="centered">Say hello!</h1>
		<hr>
		<br>
		<br>
		<div class="col-lg-4">
			<h3>Email</h3>
      {% include contact_details/email.html %} 
		</div><!-- col -->
		
		<div class="col-lg-4">
			<h3>Twitter</h3>
			 {% include contact_details/twitter.html %}
		</div><!-- col -->
		
		<div class="col-lg-4">
			<h3>Customer Support</h3>
			{% include contact_details/zendesk.html %}
		</div><!-- col -->

	</div><!-- row -->

</div><!-- container -->
