<div class="jumbotron">
  <figure>
        <img class="rounded-img" src="images/wheat.jpg" title="'Wheat Field' &copy; Kevin Lallier"/>
        <figcaption>
          Image: '<a href="http://www.flickr.com/photos/klallier/3715569167/in/photostream/">Wheat Field</a>'
          &copy; Kevin Lallier (CC)
          </figcaption>
      </figure>
 
      <p><span class="dilname">Digital Identity Ltd</span> is a new Manchester-based company
         that supplies federated identity
         services to higher education. We are a small group of current and past
         employees of universities, motivated to make interesting and useful things
         for the UK academic community. Most of our work is based around applying the 
         many benefits of Shibboleth and other SAML identity software to social web applications. 
      </p>
      <p>We plan to launch a series of small, experimental web applications in 2013
         under the umbrella of our 'Digital Identity Labs' project. Popular services
         from the labs will be re-launched as full, supported subscription services.</p>

</div>